<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promo-Cats</title>
</head>
<body>
    <header>
        <img class=logo src="/public/assets/catskillet.svg" alt="logo da empresa">
        <nav>
            <ul>
                <li><a href="#"></a>INÍCIO</li>
                <li><a href="#"></a>COMO PARTICIPAR</li>
                <li><a href="#"></a>PRÊMIOS</li>
                <li><a href="#"></a>PRODUTOS PARTICIPANTES</li>
                <li><a href="#"></a>REGULAMENTO</li>
                <li><a href="#"></a>GANHADORES</li>
            </ul>
        </nav>
        <button class="participar">PARTICIPAR</button>
        <button class="entrar">ENTRAR</button>
    </header>

    <main>
        <section class="promo">
            <div class="promo-text">
                <img src="/public/assets/catskillet.svg" alt="logo">
                <h1>TE LEVA PRO VIP DO</h1>
                <p>+ DE 1 MILHÃO EM PRÊMIOS E MILHAS DE CHANCES DE GANHAR</p>
            </div>
            <div class="promo-image">
                <img src="/public/assets/geladeira.png" alt="geladeira cat">
            </div>
        </section>

        <section class="details">
            <div class="details-box">
                <h2>PRÊMIOS DIÁRIOS</h2>
                <p>ASSINATURA GLOBOPLAY<br>ROUPA DO LÍDER<br>R$ 500 NA HORA</p>
            </div>
            <div class="detail-box">
                <h2>Prêmios Semanais</h2>
                <p>Geladeira com produtos Catskillet</p>
            </div>
        </section>
        <footer>
            <p>Salsicha Seara dobra suas chances</p>
        </footer>
    </main>


</body>
</html>